
body{
    background-color:white !important;
}
.wrapper{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 50px;
    width: 100%;
}
.mini__wrapper{
    padding: 0px;
    display: flex;
    flex-direction: column;
}
.mini__wrapper h3{
    font-weight: 600;
    text-align: center;
}
.graph{
    padding: 0% !important;
    width:600px ;
    height:400px ;
}
.the__c{
    height: 100%;
    margin-right: 50px;
    max-width: 400px !important;
}
.row{
    width: 70vw !important;
}
.card-body{
    height: 100% !important;
}
.canvas{
    height: 80% !important;
}