<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/admin/newform.css">
    <link rel="stylesheet" href="/stylesheets/admin/profilePage.css"> 
    <link rel="stylesheet" href="/cropperjs/dist/cropper.min.css">
    <script src="/cropperjs/dist/cropper.min.js" defer></script>
    
</head>


<body>
    <div class="topper__container">
    <div class="div__container">
        <div class="title"> Add Product </div>
        <p style="color: green ; font-size:22px;font-weight:600;">{{admin__msg}}</p>
        <form action="/admin/addProduct" class="signin__form" method="post" enctype="multipart/form-data">
            <div class="product__details">
                <div class="input__box">
                    <span class="details">Company Name</span>
                    <input type="text" name="company__name" id="company__name" placeholder="company name" required>
                </div>
                <div class="input__box">
                    <span class="details">Model</span>
                    <input type="text" name="model" id="model" placeholder="model" required>
                </div>
                <div class="input__box">
                    <span class="details">Price</span>
                    <input type="number" name="price" id="price" placeholder="price" required>
                </div>
                <div class="input__box">
                    <span class="details">Select Category</span>
                    <select name="category" required>
                        {{#each data}}
                        <option>{{this.name}}</option>
                        {{/each}}

                    </select>
                </div>
                <div class="input__box">
                    <span class="details">image 1</span>
                    <img class="img-fluid" src="" alt="" id="img__view" width="70px">
                    <input type="file" class='image__input' name="image" id="image" onchange="viewImage(event)" required>
                     <label class="the__button" for="image" required> Add img1</label> 
                </div>
                <div class="input__box">
                    <span class="details">image 2</span>
                    <img class="img-fluid" src="" alt="" id="img__view2" width="70px">
                    <input type="file" class='image__input' name="image2" id="image2"  onchange="viewImage2(event)" required>
                    <label class="the__button" for="image2" required> Add img2</label>
                </div>
                <div class="input__box">
                    <span class="details">image 3</span>
                    <img class="img-fluid" src="" alt="" id="img__view3" width="70px">
                    <input type="file" class='image__input' name="image3" id="image3"  onchange="viewImage3(event)" required>
                     <label class="the__button" for="image3" required> Add img3 </label>
                </div>
                <div class="input__box">
                    <span class="details">image 4</span>
                      <img class="img-fluid" src="" alt="" id="img__view4" width="70px">
                    <input type="file" class='image__input' name="image4" id="image4"  onchange="viewImage4(event)" required>
                     <label class="the__button" for="image4" required> Add img4 </label>
                </div>
                <div class="input__box">
                    <span class="details">Stocks</span>
                    <input type="number" name="stock" id="image" min="1" required>
                </div>
                <div class="input__box">
                    <span class="details">Description</span>
                    <textarea name="description" required></textarea>
                </div>
            </div>
            <input class="button" type="submit" value="Add Product">
        </form>
             <a href="/admin"><button class="home__button">Dashboard / Home</button></a>
    </div>
    </div>
      <script src="/javascripts/imageChange.js"></script>
    {{!-- <script src="https://cdn.crop.guide/loader/l.js?c=TRYDYD"></script> --}}
</body>

</html>