<link rel="stylesheet" href="/stylesheets/admin/admin__dashboard.css">
<link rel="stylesheet" href="/stylesheets/admin/salesGraph.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Aboreto&family=Changa:wght@400;600;700;800&family=Cookie&family=Exo:wght@400;500;600;800;900&family=IBM+Plex+Mono:ital,wght@0,700;1,700&family=Righteous&family=Roboto+Mono:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<style>
    a{
        text-decoration: none !important;
    }
    .card__1{
        margin-top: 100px !important;
        margin-left: 50px !important;
    }
    .swift__content{
        
        padding-bottom: 1000px !important;
         background:#f1f1f1;
    }
    .section__1{
        height: 100vh;
    }
</style>

{{!-- <div class="swift__content"> --}}
    <div class="section__1">
             <div class="col-6 my-5 card__1 pb-5">
        <div class="row">
    <div class="card mt-5 the__c">
        <div class="card-body">
            <h5>Total number of Ordes in Each day </h5>
            <hr>
            <canvas class="canvas" id="myChart"></canvas>
        </div>
    </div>
    <div class="card mt-5 the__c">
        <div class="card-body">
            <h5>Total number of Ordes in Each day </h5>
            <hr>
            <canvas class="canvas" id="orderpie"></canvas>
        </div>
    </div>

    {{!-- for the total category sales --}}
    <div class="card mt-5 the__c">
        <div class="card-body">
            <h5>Most Sold Categories</h5>
            <hr>
            
            <canvas class="canvas" id="categorySales"></canvas>
        </div>
    </div>
    
</div>
{{!-- <div id="piechart_3d" style="width: 900px; height: 500px;"></div> --}}
        </div>

    </div>
{{!-- </div> --}}



<script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
<script>
const ctx = document.getElementById('myChart').getContext('2d');
const orderpie = document.getElementById('orderpie')
const category = document.getElementById('categorySales').getContext('2d')

fetch('/admin/getCategorySales',{
    method:'get',
}).then((val)=> val.json()).then((data)=>{
   // console.log(data,' is the data')
    let xaxis = []
    let counts = []
    for(const val of data){
       // console.log(val,'is the val of data')
        let date = `${val.details.day}/${val.details.month}/${val.details.year}`
        xaxis.push(date)
        counts.push(val.count)
    }
const myChart = new Chart(ctx, {
    type: 'bar',
    //doughnut
    data: {
        labels: [...xaxis],
        datasets: [{
            label: 'Number of Orders',
            data: [...counts],
            backgroundColor: ['rgb(255, 99, 132)','rgb(54, 162, 235)','rgb(255, 206, 86)','rgb(75, 192, 192)','rgb(153, 102, 255)','rgb(255, 159, 64)'],
            borderColor: 'white',
            borderWidth:3
        },
        ]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
})

// for the second graph
fetch('/admin/getCategorySales',{
    method:'get',
}).then((val)=> val.json()).then((data)=>{
    console.log(data,'is the data ')
    let xaxis = []
    let counts = []
    for(const val of data){
        console.log(val ,'is the value of the data')
        let date = `${val.details.day}/${val.details.month}/${val.details.year}`
        xaxis.push(date)
        counts.push(val.count)
    }
const myChart = new Chart(orderpie, {
    type: 'pie',
    //doughnut
    data: {
        labels: [...xaxis],
        datasets: [{
            label: 'Number of Orders',
            data: [...counts],
            backgroundColor: ['rgb(255, 99, 132)','rgb(54, 162, 235)','rgb(255, 206, 86)','rgb(75, 192, 192)','rgb(153, 102, 255)','rgb(255, 159, 64)'],
            borderColor: 'white',
            borderWidth:3
        },
        ]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
})

// now for the total category sales
getCategoryOrders()
function getCategoryOrders(){
    console.log('got inside the function ouas')
    $.ajax({
    url:'/admin/getCategoryGraph',
    method:'get',
    success:(response)=>{
   var collector = [];
         for(var i=0;i<response.length;i++){
    var count =1;var lock = response[i].category;
    for(var k=i+1;k <response.length;k++){
        if(lock==response[k].category){
            count = count + 1
            console.log(lock)
        }
    }
    response[i].count = count
         }
         for(var i = 0;i<response.length;i++){
            var s = true
            for(var j = 0; j<collector.length; j++){
                console.log(collector[j])
                if(response[i].category == collector[j].category){
                     s = false
                     console.log(response[i],'repeated')
                }
            }
            if(s){
                console.log('not repeated')
                collector.push(response[i])
            }
         }
         var categoryname = []
         var countcat = []
         for(var i = 0; i < collector.length; i++){
            categoryname.push(collector[i].category)
            countcat.push(collector[i].count)
         }
    console.log(collector,'is the collecter')
    console.log(categoryname,'count :',countcat)
const myChart = new Chart(category, {
    type: 'doughnut',
    //doughnut
   data : {
    labels: [...categoryname],
    datasets: [{
        data: [...countcat],
         backgroundColor: ['rgb(255, 99, 132)','rgb(54, 162, 235)','rgb(255, 206, 86)','rgb(75, 192, 192)','rgb(153, 102, 255)','rgb(255, 159, 64)'],
            borderColor: 'white',
            borderWidth:3
    }],
    // These labels appear in the legend and in the tooltips when hovering different arcs
},
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
    }
})
}


</script>