<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blocked User</title>
    <link rel="stylesheet" href="/stylesheets/users/blocked.css">
</head>
<body>
    <style>
      
        
    </style>
    <div class="container">
         <div class="top">
                    <div class="companyname">
                        <h2>Shoe Store</h2>
                    </div>
                </div>
        <div class="box">
            <div class="heading">
               
                <h1>Your account has been blocked !!</h1>
            </div>
                <div class="explanation">
                    <h2>Due to Inappropriate/toxic actions</h2>
                <p>we have detected some suspicious actions from your side,
                    and therefore your account has been suspended from visiting out site!!
                </p>
                
             </div>
        </div>
    </div>
</body>
</html>