<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body{
        background: rebeccapurple;
    }
    .error__heading {
        font-size:5rem;
        font-weight: 900;
        color: black;
        font-family: cursive;
    }
    .error__text > p{
        font-size:2rem;
        color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
</style>
<body>
    <div class="error__container">
        <div class="error__heading">
            <center>
                <p>404</p>
            </center>
        </div>
        <center>
            <div class="error__text">
                <p>Not Found!!!</p>
                <p>The website that you are trying to access is currently unavailable <br>
                Perhaps You should check wheather the url is correct. There is a chance that 
                the url of the page that you are trying to access is invalid, so confirm that 
                the url is correct.</p>
            </div>
        </center>
    </div>
</body>

</html>