<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/login.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
     <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/solid.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
</head>
<body>
    <div class="container">
        <div class="img">
            <img src="/images/LoginPage-image.png" alt="image here">
        </div>
        <div class="login-container">
            <form action="/users/login" method="post">
                <h2 class="msg">Welcome</h2>
                
                <div class="input-div one focus">
                    <div class="i">
                    <i class="uil uil-at"></i>
                    </div>
                    <div class="in">
                       <label for=""><h5 class="text">&nbsp; </h5></label> 
                        <input type="email" name="email" class="input" placeholder="Email" required>
                    </div>
                </div>
                <div class="input-div two">
                    <div class="i">
                        <i class="fas fa-lock"></i>
                    </div>
                    <div class="">
                        <h5 class="text"> &nbsp; </h5>
                        <input type="password" name="password" placeholder="Password" class="input" required>
                    </div>
                </div>
                <input class="btn" type="submit" value="Login">
                <p>Forgot Password?<a href="/login__with__otp">Login with OTP</a></p>
                <p>Doesn't have an account? <a href="/users/signup">Sign Up</a></p> 
                 <p style="color:red ; font-size:20px">{{error__msg}}</p>    
            </form>  
                
        </div>
    </div>
    <script>
    </script>
</body>
</html>