/* @import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Changa:wght@400;600;700;800&family=Cookie&family=Exo:wght@400;500;600;800;900&family=IBM+Plex+Mono:ital,wght@0,700;1,700&family=Righteous&family=Roboto+Mono:wght@300;400;500;600;700&family=Satisfy&family=Source+Code+Pro:wght@400;600;700;800&display=swap'); */
body{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    transition: .5s;
   
}
/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
a{
    text-decoration: none;
}
        .header{
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #131921;
    position: sticky;
    top:0;
    z-index: 1;
}
.header__logo{
    cursor: pointer;
    font-size: 1.5rem;
    color: white;
    margin: 10px;
    font-family: 'Oleo Script Swash Caps', cursive;
}
.header__search{
    display: flex;
    flex:1;
    align-items: center;
    border-radius: 24px;
    min-width:200px;
    /* the change */
    max-width: 800px;
    margin: 0 8vw 0;
}
.header__search input{
    outline: none !important;
    border: none !important;
}
/* my edits */
@media screen and (max-width:700px ){
    .header__logo{
        display: none;
    }
    .header__search{margin-left: 10px;
    }
    .add__btn p {
        display: none;
    }
    .row__home{
        flex-direction: column-reverse!important;
        display: block ;
    }
    .add__btn{
        left: 90% !important;
    }
}
/* my edits ends here */
.header__searchInput{
    height: 12px;
    padding:10px;
    border:none;
    width:100%;
}
.header__searchIcon{
    padding: 5px;
    height: 22px;
    background-color:green;
    cursor: pointer;
}
.header__optionLineOne{
    font-size: 13px;
    cursor: pointer;
}
.header__optionLineTwo{
    font-size:13px;
    font-weight:700;
    cursor: pointer;
}
.header__optionBasket{
    display: flex;
    align-items: center;
    color: white;
    cursor: pointer;
}
.header__basketCount{
    margin-left:10px;
    margin-right: 10px;
    cursor: pointer;
}
.header__nav{
    display:flex;
    justify-content:space-evenly;
}
.header__option{
    display:flex;
    flex-direction: column;
    margin-left:14px;
    margin-right:10px;
    color:white;
}
.anchor__links{
    text-decoration:none;
    color: white;
}
.anchor__links:hover{
    color: green;
}
.start{
    margin-top: 60px;
}
 /* the Home section First Image */
.row__home{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
}
.co_1{
    flex-basis:40%;
    position:relative;
    margin-left: 10vw;
    margin-top:10vw;
    font-family: 'Aboreto', cursive;
    /* font-family: 'Source Code Pro', monospace; */
}
.co_1 h2{
    font-size:54px;
    font-weight: 900;
    
}
.co_1 h3{
    color:green;
    font-weight: 700;
    margin:20px 0 10px
}
.co_1 p{
    color: rgb(48, 48, 48);
    font-weight: 600;
}
.co_1 h4{
    font-weight: 700;
}
.button__more{
    width:140px;
    border:0;
    padding:10px 10px;
    outline:none;
    color:white;
    background: linear-gradient(to right,  greenyellow,green);
    border-radius: 10px;
    
    transition:width .15s
}
.button__more a {
    color: white;
    text-decoration: none;
}
.button__more:hover{
    width: 180px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 10px 10px;
    transition:width .5s
}
.button__more svg{
    width: 20px !important;
    display:none;
}
.button__more:hover svg{
    display: block;
}
.co_1::after{
    content:'';
    width: 10px;
    height:57%;
    background:linear-gradient( greenyellow,green);
    position: absolute;
    left: -40px;
    top:8px;
}
.co_2 {
    position: relative;
    flex-basis: 60%;
    display: flex;
    align-items: center;
}
.controller{
    width: 90%;
}
.color__box{
    position:absolute;
    right: 0;
    top:0;
    background:linear-gradient(yellowgreen,yellowgreen,green);
    border-radius:20px 0 0 20px;
    height: 100%;
    width: 80%;
    z-index: -1;
    /* transform: translateX(150px); */
}
.add__btn{
    position: absolute;
    left: 80%;
    background: transparent;
    border: transparent;
    text-align:center;
    cursor: pointer;
    color:rgb(17, 1, 1);
    font-weight: 600;
    /* line-height: 13px; */
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

    /* product section css */
    .new__arrivals{
        color:white;
        border-radius:20px 0 20px 0;
        height: 60px;
        margin: 60px auto 10px;
        background-color: green;
        font-family: 'Satisfy', cursive;
        width: 85%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .button__div{
        display: flex;
        justify-content: center;
        align-items:center;
        font-family: 'Satisfy', cursive;
    }
   .button__div  a{
    text-decoration: none;
}

    .the__products{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .the__container{
        margin-top: 40px;
        margin: 40px;
        position: relative;
        width: 1200px;
        
        /* max-width: 1200px; */
        display: grid;
        /* grid-template-columns: repeat(auto-fit,minmax(250px,1fr)); */
        grid-template-columns: repeat(10, 300px);
        grid-gap: 20px;
        grid-auto-flow: column;
        grid-auto-columns: 21%;
        overflow-x: auto;
        overscroll-behavior-inline: contain;
        /* grid-template-columns: repeat(auto-fit,minmax(250px,1fr)); */
    }
    .snaps__inline{
        scroll-snap-type: inline mandatory;
        scroll-margin-inline-start: 30px;
    }
    .snaps__inline > *{
        
        scroll-snap-align: start;
    }
    .the__container .the__card{
        width: 100%;
        max-width: 450px;
        
        /* margin: 30px; */
        /* min-width: 400px; */
        /* background:yellowgreen; */
        /* background:#ffe77aff; */
        background-color: green;
        padding: 10px;
        border-radius: 20px;
    }
    .the__container .the__card .imgbx{
        position:relative;
        width: 100%;
        height:200px;
        overflow: hidden;
        border-radius: 20px;
    }
    .the__container .the__card .imgbx img{
        position:absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        /* object-fit: contain; */
        object-fit: cover;
        transition: 0.5s ease-in-out;
        padding: 10px;
    }
    .the__container .the__card:hover  img{
        transform: scale(1.15);
    }
    .action{
        position:absolute;
        top:10px;
        right:10px;
        width: 40px;
        height: 40px;
    }
    
     .product__name h3{
        font-size: 18px;
        font-weight: 500;
        color:rgb(255, 255, 255);
        margin-bottom:5px ;  
        /* font-family: 'Roboto Mono', monospace; */
        /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
        font-family: 'Work Sans', sans-serif;

        text-align: center;
    }
    .the__container .the__card .content__home .price__rating{
        display: flex;
        justify-content:space-between;
        color:white;
        margin: 5px;
        align-items: center;
    }
    .the__card h2{
        font-size: 20px;
        /* font-family: 'Aboreto', cursive; */
        /* font-family: 'Cookie', cursive; */
        font-family: 'Work Sans', sans-serif;
        font-weight:500;
    }
    .rating .fa{
        font-size: 10px;
        color: gold;
    }
    .action li{
        list-style: none;
        position: relative;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px;
        padding: 15px;
        border-radius: 20px;
        cursor: pointer;
        transform: translateX(60px);
        transition: transform 0.5s;
    }
    .the__container .the__card:hover .action li{
        transform: translateX(-20px);
    }
    .action li span{
        position:absolute;
        right:50px;
        top:50%;
        cursor: pointer;
        transform:translateY(-50%) translateX(-20px);
        white-space: nowrap;
        padding:4px 60px;
        background-color: green;
        color:white;
        font-size:12px;
        border-radius: 12px;
        pointer-events: none;
        opacity: 0;
        transition: .5s;
    }
    .action li:nth-child(2){
        transition-delay: 0.15s;
    }
    .action li:nth-child(3){
        transition-delay: 0.30s;
    }
    .action li span::before{
        content: '';
        position:absolute;
        top:50%;
        right: -4px;
        width:8px;
        height: 8px;
        background: green;
        color: white;
        transform: translateY(-50%) rotate(45deg);
    }
    .action li:hover span{
        opacity: 1;
        transform:translateY(-50%) translateX(0px);
    }
    .action li:hover{
        background-color:  green;
        color:#f1f1f1
    }
    /* product section css ends here */
@media only screen and(max-width:700px){
    .row__home{
        margin: 50px 0;
        flex-direction: column reverse;
    }
   
}
a{
    text-decoration:none;
}

/* sign up now and get 50% off on your first order */

.signup__banner{
    margin: 50px 0px 50px;
    width: 100%;
    height: 150px;
    display: flex;
    background-color:rgb(0, 0, 0);
    align-items: center;
    justify-content:space-around;
}
.signup__box{
    color: goldenrod;
    /* font-family: 'IBM Plex Mono', monospace; */
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    padding: 15px;
}
.simple__gold{
    padding: 5px 15px;
    color: black;
    background-color: goldenrod;
    /* font-size:'IBM Plex Mono', monospace ; */
    border-radius: 10px;
    border:none;
    font-size: 20px;
    font-weight: 500;
    min-width: 100px;
    margin:0px 14px 0px;
}





.outercover__parallax {
    position: relative;
    overflow-x: hidden;
    background: #fff;
}

.parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.parallax img{
    position: absolute;
    bottom: 0;
    /* left: 0; */
    pointer-events: none;
}
.parallax .girl img{
    left: 0;
}
.parallax .bag img{
    right: 0;  
}

.parallax .red__bag img{
    top:500px;
    left: 0;
    
}
.parallax .background img{
    position: absolute;
    left: 0;
    top: 10px;
    height: 450px;
    width: 100vw;
    object-fit: fill;
    
}

#text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 4em;
    font-family: 'Cookie', cursive;
    color:green;
}

.sec {
    margin-top: 100px;
    position: relative;
    padding: 100px;
    background: #112322;
    color: #f2f2f2;
}

.sec h2 {
    font-size: 3em;
    margin-bottom: 10px;
}

.sec p {
    font-size: 1em;
    font-weight: 300;
}
.div{
    height: 100vh;
    background-color: green;
}
.stroke{
    color: rgba(255, 255, 255, 0.687);
    text-decoration: line-through !important;
}
@media screen and (max-width:800px){
    .parallax .bag{
        display: none;
    } 
    #text{
        display: none;
    }
    .parallax .red__bag {
        position:absolute ;
        left: 50vw;
    }
    .parallax .girl img{
        
        display: none;
    }
}
