body{
    margin: 0;
    padding:0;
    box-sizing: border-box;
   
  }
  a{
    text-decoration: none;
  }
  a:hover{
    text-decoration:none;
  }
  .quantity__change{
    border:none;
    background-color: green;
    color:white;
    font-weight: 800;
    outline: none;
    border-radius: 5px;
    padding:0px 10px ;
    box-shadow: 1px 1px 5px 1px slategrey,-1px -1px 5px 1px slategrey;
  }
  .text-danger{
    cursor: pointer;
  }
  .the__button{
    color: green;
    background-color: white;
    border-radius: 10px;
    border:none;
    border: 2px solid whitesmoke;
    padding: 7px 15px;
}
.return__button{
  color: green;
  background-color: white;
  border-radius: 10px;
  border:none;
  border: 2px solid whitesmoke;
  padding: 7px 15px;
}
.the__button:hover{
    background-color: white;
    box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.1),-1px -1px 5px 2px rgba(0,0,0,0.1);
    
}
.the__button:active{
  box-shadow:1px 1px 2px 1px rgba(0,0,0,0.1),-1px -1px 2px 1px rgba(0,0,0,0.1) ;
}
.se{
  font-weight: 300;
  text-decoration: line-through;
}